<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>REST and AJAX</title>
  </head>
  <body>
    <nav class="container" style="height: 60px; background-color: #f4f4f4;">
      <a class="mx-3" style="line-height: 60px;" href="{% url 'info:info' %}">Home</a>
      <a class="mx-3" style="line-height: 60px;" href="{% url 'api-root' %}">Go to api</a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div>
            <p class="text-center py-2 border-bottom mx-0">Show snippets</p>

            <form class="py-2 border-bottom" action="" id="snippets-form"> 
              <select id="snippet-select" name="snippets" onchange="showSnippet(this.value)">
                <option value="">Select a snippet:</option>
                {% for snippet in snippets %}
                <option value="{{ snippet.pk }}">{{ snippet.title }}</option>  
                {% endfor %}
              </select>
            </form>

            <div class="py-2 border-bottom" id="jsonresp-snippets"></div>
          </div>

          <div>

            <p class="text-center py-2 border-bottom mx-0">Show users</p>

            <form class="py-2 border-bottom" action="" id="snippets-form"> 
              <select id="snippet-select" name="snippets" onchange="showUser(this.value)">
                <option value="">Select a user:</option>
                {% for u in users %}
                <option value="{{ u.pk }}">{{ u.username }}</option>  
                {% endfor %}
              </select>
            </form>

            <div class="py-2 border-bottom" id="jsonresp-users"></div>
          </div>

          <div class="col-6"></div>
        </div>
      </div>
        
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="{% static 'info/js/ajax.js' %}"></script>
  </body>
</html>